.cart{
    background: rgba(255, 153, 0, 0.3);
    padding: 25px;
    position: sticky;
    top: 0;
    margin-top: 40px;
}
.cart p{
    font-family: 'Lato';
    font-size: 17px;
    color: #2A414F;
    
}